*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --COLOR-PRIMARY: #050e1d;
  --COLOR-SECONDARY: #37C7A8;
  --COLOR-ACCENT-01: #96E0D0;
  --COLOR-ACCENT-02: #85F1DA;
  --COLOR-LIGHT-01: #F5F5F5;
  --COLOR-LIGHT-02: #EBEBEB;
  --COLOR-GRAY-01: #CCCCCC;
  --COLOR-GRAY-02: #ADADAD;
  --COLOR-GRAY-03: #7A7A7A;
  --COLOR-GRAY-04: #474747;
  --COLOR-GRAY-05: #141414;
  
  --COLOR-GRADIENT-01: linear-gradient(to top, var(--COLOR-SECONDARY), var(--COLOR-ACCENT-01));
}

body {
  margin: 0;
  background: var(--COLOR-PRIMARY);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  transition: all .4s ease-in-out;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

header {
  position: relative;
  background: var(--COLOR-ACCENT-01);
  padding: 2em 0;
  text-align: center;
  box-shadow: 0px 2px 15px 20px #191d24;
}

header::before {
  visibility: visible;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/luminous-circles.jpeg");
  background-size: cover;
  opacity: 0.15;
}

h1 {
  color: var(--COLOR-LIGHT-02);
  margin: 0;
  padding: 0;
}

p {
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

/*======================
    LAYOUT
  ====================== */
  .container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*======================
    NAVIGATION
  ====================== */
.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: .9rem;
}
  
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072A2D;
  color: white;
  transition: opacity 250ms ease;
  
  position: absolute;
  top: -1.75em;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
} 

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0 auto;
  width: 50%;
  padding: 1em 0;
  border-bottom: 1px solid;
}

.nav__item:nth-child(4) {
  border-bottom: none;
  padding-bottom: 1em;
}

.nav__item:last-child {
  border: none;
}

.nav__list--secondary .nav__item {
  margin-top: -7em;
}

.nav__item-hover:hover,
.nav__item-hover:focus {
  background-color: #30e6bf6c;
}

.nav__link {
  text-decoration: none;
  color: var(--COLOR-PRIMARY);
  font-weight: 900;
  text-transform: uppercase;
}

.nav__link--button {
  background: #FFF;
  padding: .25em .75em;
  border-radius: 100px;
  color:#136c72;
  cursor: pointer;
}

.nav__list .nav__link--theme-button {
  visibility: hidden;
  font-size: 2.25rem;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .75;
}

/*======================
    MAIN BODY
  ====================== */
.main__title {
  margin-top: 0.5em;
  letter-spacing: 0.03em;
  font-size: 4.5rem;
}

.main__title--accent {
  color: var(--COLOR-ACCENT-02);
}

.main__sub-title {
  color: var(--COLOR-GRAY-01);
  font-size: 2rem;
  letter-spacing: 0.0275em;
}

.main__article {
  position: relative;
  margin: 2.75em -1.7em 2em;
  padding: 1.25em 2em;
  background-color: var(--COLOR-ACCENT-01);
}

.main__article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../img/luminous-circles.jpeg");
  background-size: cover;
  opacity: 0.15;
}


.main__text {
  color: var(--COLOR-PRIMARY);
  font-weight: 900;
  font-size: .9rem;
  text-align: center;
}

/*======================
    SPECIAL ELEMENTS
  ====================== */
.container-shape .theme-btn {
  visibility: visible;
  position: absolute;
  font-size: 2.25rem;
  top: 1%;
  right: 5%;
  color: var(--COLOR-PRIMARY);
  font-size: 2.25rem;
  cursor: pointer;
}

.container-shape .theme-btn:hover,
.container-shape .theme-btn:focus {
  opacity: 0.75;
}
/* 
.icon-border {
  border: 3px solid #0ff1c0;
  border-radius: 50%;
} */

.container-image {
  display: flex;
  justify-content: center;
}

.hero-image {
  margin-top: 2em;
  border-radius: 50%;
  width: 45%;
  border: 10px double var(--COLOR-SECONDARY);
  box-shadow: 0px 0px 20px 12px rgba(85, 84, 84, 0.452);
}


@media (min-width: 600px) {
  header {
    padding: 0.25em;
  }
  
  header::before {
    visibility: hidden;
  }
  
  .container-shape {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .h-shape {
    transition: all .4s ease-in-out;
    width: 40%;
    height: 100vh;
    background: var(--COLOR-GRADIENT-01);
    position: fixed;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    box-shadow: 5px 5px 15px 20px #000;
  }
  
  .container-shape .theme-btn {
    visibility: hidden;
  }

  .container-image {
    justify-content: flex-start;
  }
      
  .hero-image {
    border-radius: 50%;
    max-width: 25%;
    min-width: 20%;
    margin-left: 20%;
    margin-top: 20vh;
    border: 10px double var(--COLOR-PRIMARY);
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.452);
    z-index: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__list--primary {
    margin: 0 auto;
  }

  .nav__item {
    margin: 0 0 0 2em;
    padding: 0;
    border: none;
  }

  .nav__item-hover:hover,
  .nav__item-hover:focus {
    background: none;
  }

  .nav__item + .nav__item {
    margin-left: 2em;
  }

  .nav__item:nth-child(4) {
    padding-bottom: 0;
  }

  .nav__list--secondary .nav__item {
    margin-top: 0;
  }

  .nav__list .nav__link--theme-button {
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .nav__list--primary {
    margin: 0;
  }
}