*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --COLOR-PRIMARY-UNIV: #050e1d;
  --COLOR-PRIMARY: #050e1d;
  --COLOR-SECONDARY: #37C7A8;
  --COLOR-ACCENT-01: #96E0D0;
  --COLOR-ACCENT-02: #85F1DA;
  --COLOR-ACCENT-03: #33f3c9;
  --COLOR-LIGHT-01: #F5F5F5;
  --COLOR-LIGHT-02: #EBEBEB;
  --COLOR-GRAY-01-UNIV: #CCCCCC;
  --COLOR-GRAY-01: #CCCCCC;
  --COLOR-GRAY-02: #ADADAD;
  --COLOR-GRAY-03: #7A7A7A;
  --COLOR-GRAY-04: #474747;
  --COLOR-GRAY-05: #141414;
  --COLOR-DROP-SHADOW-01: #bdbdbd36;
  --COLOR-GRADIENT-01: linear-gradient(to top, var(--COLOR-SECONDARY), var(--COLOR-ACCENT-01));
}

.light-mode {
  --COLOR-PRIMARY-UNIV: #050e1d;
  --COLOR-PRIMARY: #DADADA;
  --COLOR-SECONDARY: #37C7A8;
  --COLOR-ACCENT-01: #96E0D0;
  --COLOR-ACCENT-02: #85F1DA;
  --COLOR-ACCENT-03: #46caae;
  --COLOR-LIGHT-01: #010101;
  --COLOR-LIGHT-02: #111111;
  --COLOR-GRAY-01-UNIV: #CCCCCC;
  --COLOR-GRAY-01: #141414;
  --COLOR-GRAY-02: #474747;
  --COLOR-GRAY-03: #7A7A7A;
  --COLOR-GRAY-04: #ADADAD;
  --COLOR-GRAY-05: #CCCCCC;
  --COLOR-DROP-SHADOW-01: #010d2263;
}

/*===============================
    GENERAL STYLES | TYPOGRAPHY
  =============================== */
body {
  margin: 0;
  background: var(--COLOR-PRIMARY);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  transition: all .4s ease-in-out;
  height: 100vh;
  overflow: auto;
}

img {
  max-width: 100%;
}

header,
footer {
  position: relative;
  background: var(--COLOR-SECONDARY);
  text-align: center;
  box-shadow: 0 10px 80px 100px var(--COLOR-DROP-SHADOW-01);
}

header::before,
footer::before {
  visibility: visible;
  content: "";
  position: absolute;
  background-color: transparent;
}

header {
  padding: 2em 0;
  border-radius: 0 0 25px 25px;
}

header::before {
  bottom: -50px;
  left: 0;
  right: 0;
  height: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: -20px -30px 0 30px var(--COLOR-SECONDARY);
}

footer {
  padding: 2.5em 0;
  margin: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

footer::before {
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  border-radius: 0 0 25px 25px;
  box-shadow: -20px 30px 0 30px var(--COLOR-SECONDARY);
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*======================
    LAYOUT
  ====================== */
  .container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }

  /* .container__bg-image {
    position: relative;
    background: var(--COLOR-ACCENT-01);
  }

  .container__bg-image::before {
    content: "";
    position: absolute;
    background-image: url("../img/luminous-circles.jpeg");
    background-size: cover;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 -1.5em;
    height: 100px;
    opacity: .175;
  } */

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col--right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-row {
    display: none;
  }

/*======================
    NAVIGATION
  ====================== */
.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: .9rem;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3.5em;
  height: 3.5em;
  padding: 0em;
  border-radius: 50%;
  background: var(--COLOR-PRIMARY-UNIV);
  color: var(--COLOR-GRAY-01-UNIV);
  transition: opacity 250ms ease;

  position: absolute;
  top: -1.75em;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  background: var(--COLOR-GRAY-01-UNIV);
  color: var(--COLOR-PRIMARY-UNIV);
  opacity: 0.75;
}

.nav-toggle--base {
  background: var(--COLOR-PRIMARY-UNIV);
  color: var(--COLOR-GRAY-01-UNIV);
  opacity: 1;
}

.nav__menu {
  font-size: 1.2rem;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0 auto;
  width: 50%;
  padding: 1em 0;
  border-bottom: 1px dashed var(--COLOR-LIGHT-02);
}

.nav__item:nth-child(4) {
  border-bottom: none;
  padding-bottom: 1em;
}

.nav__item:last-child {
  border: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__list--secondary .nav__item {
  margin-top: -7em;
}

.nav__item-hover:hover,
.nav__item-hover:focus {
  background-color: #ebebeb36;
}

.nav__link {
  text-decoration: none;
  color: var(--COLOR-PRIMARY-UNIV);
  font-weight: 900;
  text-transform: uppercase;
}

.nav__list .nav__link--theme-button {
  visibility: hidden;
  font-size: 2.275rem;
}

.nav__link--theme-button:hover,
.nav__link--theme-button:focus {
  color: var(--COLOR-GRAY-01-UNIV);
  opacity: 0.75
}

.nav__link--theme-button:not(.nav__link--theme-button:hover),
.nav__link--theme-button:not(.nav__link--theme-button:focus) {
  color: var(--COLOR-PRIMARY-UNIV);
  opacity: 1;
}

/*======================
    MAIN BODY
  ====================== */
main {
  margin-bottom: 2.25em;
}

.main__title {
  margin-top: 0.5em;
  letter-spacing: 0.03em;
  color: var(--COLOR-GRAY-01);
  font-size: 4rem;
}

.main__title--accent {
  color: var(--COLOR-ACCENT-03);
}

.main__sub-title {
  color: var(--COLOR-GRAY-02);
  font-size: 1.75rem;
  letter-spacing: 0.04em;
  margin-left: 0.0775em;
}

.col--left {
  display: flex;
  flex-direction: column;
}

.col--middle {
  display: flex;
  flex-direction: column;
  order: -1;
}

.col-right {
  display: flex;
  flex-direction: column;
}

.main__hero-image {
  margin: 2.75em auto 1em;
  border-radius: 50%;
  width: 45%;
  border: 10px double var(--COLOR-SECONDARY);
  box-shadow: 0px 0px 20px 12px rgba(85, 84, 84, 0.452);
}

.main__article {
  border-top: 1px dashed var(--COLOR-GRAY-04);
  width: 80%;
  margin: 2.125em -1.7em 0;
  padding: 1.25em 2em;
}

.main__text {
  color: var(--COLOR-GRAY-02);
  font-weight: 900;
  font-size: .9rem;
  text-align: center;
}

.main-btn {
  visibility: hidden;
}

/*======================
    FOOTER
  ====================== */
.footer-btn {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 1;
}

.footer__main-btn {
  border-radius: 30px;
  font-weight: 900;
  position: relative;
  border: 1px solid var(--COLOR-PRIMARY-UNIV);
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.footer__btn-text {
  color: var(--COLOR-PRIMARY-UNIV);
  padding: 0.5em 2em;
}

.footer__btn-text--hover {
  color: var(--COLOR-GRAY-01-UNIV);
  transition: all .5s ease-out;
}

.footer__btn-icon {
  background-color: var(--COLOR-PRIMARY-UNIV);
  color: var(--COLOR-GRAY-01-UNIV);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1em;
 }

.footer__btn-icon::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .4s ease-out;
}

.footer__btn-icon:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--COLOR-PRIMARY-UNIV);
  transform: translateX(0);
  transition: all 0.4s ease-out;
  z-index: -1;
}

/*======================
    SPECIAL ELEMENTS
  ====================== */
.container-shape .theme-btn {
  visibility: visible;
  position: absolute;
  top: 1%;
  right: 5%;
  color: var(--COLOR-PRIMARY-UNIV);
  font-size: 2.5rem;
  cursor: pointer;
}

.container-shape .theme-btn:hover,
.container-shape .theme-btn:focus {
  color: var(--COLOR-GRAY-01-UNIV);
  opacity: 0.75;
}

.container-image {
  visibility: hidden;
}

/*======================
    MEDIA QUERIES
  ====================== */
@media (min-width: 600px) {
  body {
    overflow: auto;
  }

  /* GENERAL SYTLES */
  header {
    padding: 0.25em;
    background: #94dfce;
    border-bottom-right-radius: 25px;
  }

  header::before {
    box-shadow: -20px -30px 0 30px #94dfce;
  }

  footer {
    background: #3cc8aa;
  }

  footer::before {
    box-shadow: -20px 30px 0 30px #3cc8aa;
  }

  /* LAYOUT */
  .row {
    flex-direction: row;
    align-items: flex-start;
  }

  .bottom-row {
    display: flex;
    padding: 1em 0 1em;
  }

  /* SPECIAL ELEMENTS */
  .container-shape {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .h-shape {
    transition: all .4s ease-in-out;
    width: 40%;
    height: 100vh;
    background: var(--COLOR-GRADIENT-01);
    position: fixed;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    box-shadow: 5px 5px 15px 20px #000;
  }

  .container-shape .theme-btn {
    visibility: hidden;
  }

  /* NAVIGATION */
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__list--primary {
    margin: 0 auto;
  }

  .nav__item {
    margin: 0 0 0 2em;
    padding: 0;
    border: none;
  }

  .nav__item-hover:hover,
  .nav__item-hover:focus {
    background: none;
  }

  .nav__item + .nav__item {
    margin-left: 2em;
  }

  .nav__item:nth-child(4) {
    padding-bottom: 0;
  }

  .nav__list--secondary .nav__item {
    margin-top: 0;
  }

  .nav__list .nav__link--theme-button {
    visibility: visible;
  }

  /* MAIN CONTENT */
  main {
    padding: 5em 0 5% 30%;
    /* height: 80vh; */
  }

  .main__hero-image {
    margin: 2em 0 0 0;
    width: 75%;
    z-index: 2;
  }

  .col--left {
    order: -1;
    margin-left: -20em;
    justify-content: center;
  }

  .col--left-bottom {
    width: 90%;
  }

  .col--right-bottom {
    width: 80%;
    border: 1px solid gray;
    padding: 1em 2em 1em 3em;
    margin-top: 2em;
  }

  .col--middle {
    display: flex;
    align-items: left;
    width: 50%;
    border-right: 1px dashed var(--COLOR-GRAY-04);
    padding-bottom: 4em;
  }

  .col--right {
    width: 55%;
  }

  .main__article {
    border-top: none;
  }

  .row:nth-child(2) {
    border-top: 1px dashed var(--COLOR-GRAY-04);
    width: 75%;
  }

  .main-btn {
    visibility: visible;
    display: flex;
    justify-content: left;
    z-index: 1;
    margin-top: 3.5em;
  }

  .main__main-btn {
    border-radius: 30px;
    font-weight: 900;
    position: relative;
    border: 1px solid var(--COLOR-GRAY-01);
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 2;
  }
  
  .main__btn-text {
    color: var(--COLOR-PRIMARY);
    padding: 0.5em 2em;
  }
  
  .main__btn-text--hover {
    color: var(--COLOR-GRAY-01);
    transition: all .5s ease-out;
  }
  
  .main__btn-icon {
    background-color: var(--COLOR-GRAY-01);
    color: var(--COLOR-PRIMARY);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1em;
   }
  
  .main__btn-icon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-out;
  }
  
  .main__btn-icon:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--COLOR-GRAY-01);
    transform: translateX(0);
    transition: all 0.4s ease-out;
    z-index: -1;
  }

  /* FOOTER */
  .footer-btn {
    visibility: hidden;
  }
}

@media (max-width: 640px) {
  .nav__list--primary {
    margin: 0;
  }
}